---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import { badgeVariants } from '@/components/ui/badge'
import type { ui } from '@/i18n/ui'
import { languages } from '@/i18n/ui'
import { useLocalizedPath, useTranslations } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { getSortedTags } from '@/lib/data-utils'
import { getTagVariant } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

export function getStaticPaths() {
    return Object.keys(languages).map((lang) => ({ params: { lang } }))
}

const { lang } = Astro.params
const tags = await getSortedTags(lang)

const t = useTranslations(lang as keyof typeof ui)
const l = useLocalizedPath(lang as keyof typeof ui)
---

<Layout class="max-w-3xl" lang={lang}>
    <PageHead slot="head" title={t('nav.tags')} />
    <Breadcrumbs items={[{ label: t('nav.tags'), icon: 'lucide:hash' }]} />

    <div class="flex flex-wrap gap-3">
        {
            tags.map(({ tag, count }) => {
                const { variant, className } = getTagVariant(tag)
                return (
                    <a
                        href={l(`/tags/${tag}`)}
                        class={
                            badgeVariants({ variant }) + ' ' + (className || '')
                        }
                    >
                        <Icon name="lucide:hash" class="size-3" />
                        {tag}
                        <span class="ml-1.5 opacity-60">({count})</span>
                    </a>
                )
            })
        }
    </div>
</Layout>
